.lockscreen{
    background:url(../public/wallpaper.png);
    background-image:url(../public/wallpaper.png);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: auto 55%;
    background-repeat: no-repeat;
    z-index:-1;
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    width:100%;
    height:100%;
    display:block;
}

.lockscreenslide{
    bottom: 10%;
    height: 20px;
    font-size: 20px;
    opacity: 0.5;
    font-weight: 300;
    position:absolute;
    width: 100%;
    pointer-events: none;
}

.lockscreentime{
    font-size:50px;
}

.lockscreen2{
    background:url(../public/lockscreen.JPG);
    background-image:url(../public/lockscreen.JPG);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: auto 55%;
    background-repeat: no-repeat;
    z-index:-1;
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    width:100%;
    height:100%;
    display:none;
}

.homelockscreen{
    background:url(../public/lockscreen.JPG);
    background-image:url(../public/lockscreen.JPG);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: auto 55%;
    background-repeat: no-repeat;
    z-index:-1;
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    width:100%;
    height:100%;
    display:block;
    background-color: black;
}

.dock{
    z-index:10;
    position:fixed;
    bottom:0px;
    height:100px;
    background-color:rgba(0, 0, 0, 0.05) ;
    width:70%; 
    padding: 0px 15%;
}